<h3><%= link_to "Edit Job Listings", positions_url %></h3>
<h3><%= link_to "Edit Job Application Form", attributes_url %></h3>
<br><br>
<h2>Incoming Job Applications:</h2>
<% if @job_apps.any? %>
  <table class="incoming-apps">
  <tr><th>Name</th><th>Status</th><th></th></tr>
  <% @job_apps.each do |job_app| %>
    <tr>
      <td><%= job_app.name %></td>
      <td><%= job_app.status %></td>
      <td><%= link_to "Details", job_app %></td>
    </tr>
  <% end %>
  </table>
<% else %>
  No one has applied yet!
<% end %>