<%= form_for @job_app do |job_app_form| %>
  <h1><%= @job_app.first_name %></h1>
  <%= job_app_form.select :status, ['new', 'contacted', 'interviewed', 'rejected'] %>
  <% @attributes.each do |attribute| %>
    <div><%= attribute.full_text + ": " + @job_app.send(attribute.name).to_s %></div>
  <% end %>
  <%= job_app_form.text_area :notes %>
  <%= job_app_form.submit %>
<% end %>

<%= link_to "Back", job_apps_url %>