<!DOCTYPE html>
<html>
<head>
  <title>AppTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="login-logout">
    <% if logged_in? %>
      <%= button_to "Logout", session_url, method: :delete %>
    <% else %>
      <%= button_to "Log In", new_session_url, method: :get %>
    <% end %>
  </div>
</header>


<div style="padding:30px;"
  <% if flash.now[:errors] %>
    <ul>
      <% flash.now[:errors].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  <% end %>
  
  <% if flash.now[:messages] %>
    <ul>
      <% flash.now[:messages].each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div class="container-fluid">
    <%= yield %>
  </div>
</div>

</body>
</html>
